<h1>Whatareyou#signup</h1>
<p>Find me in app/views/whatareyou/signup.html.erb</p>

    <%= link_to 'Sign Up as User', new_user_registration_path %>
  
    <%= link_to 'Sign Up as Hospital', new_hospital_registration_path %>
  